@media only screen and (max-width:1370px) {
    section {
        padding:2em 8.5em;
    }
    caro > iframe {
        width:100%;
        height:65vw;
        margin:0.5em;
    }
    #secrettext {
        display:none;
    }
    button {
        padding:0.5em 0.75em;
    }
    .homeCaro {
        width:80%;
        height:50vw;
    }
}